<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Messaging.Common.Standard" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.4.3055" newVersion="7.15.4.3055" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.DI" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.2.501" newVersion="7.15.2.501" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>